<footer class="bg-[#E7DDD8] pt-8 px-8 pb-4 !mt-4">
  <div class="font-bold grid grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] gap-2">
    <div>
      <h2 class="text-xl uppercase">Customer Service</h2>
      {% if section.settings.hours %}
        <p>{{ section.settings.hours }}</p>
      {% endif %}
      {% if section.settings.phone_number %}
        <p>{{ section.settings.phone_number }}</p>
      {% endif %}
      {% unless section.settings.email == blank %}
        <a id="email" href="mailto:{{ section.settings.email }}" class="hoverGray">Email</a>
      {% endunless %}
    </div>
    <div id="trackOrderContainer" class="flex items-center justify-center">
      <a href="#" class="btn roundBtn text-black w-fit h-fit text-lg no-underline">Track Order</a>
    </div>
    <div>
      <h1 class="text-2xl uppercase text-center">Follow Us</h1>
      <div id="socialIcons" class="flex justify-center gap-4 !mt-2">
        {% unless settings.instagram == blank %}
          <a href="{{ settings.instagram }}" target="_blank" rel="noopener" class="text-black hover:opacity-50 duration-300">
            <img src="{{ 'Instagram.png' | asset_url }}" alt="Instagram logo" height="50" width="50">
          </a>
        {% endunless %}

        {% unless settings.facebook == blank %}
          <a href="{{ settings.facebook }}" target="_blank" rel="noopener" class="text-black hover:opacity-50 duration-300">
            <img src="{{ 'Facebook.png' | asset_url }}" alt="Facebook logo" height="50" width="50">
          </a>
        {% endunless %}
      </div>
    </div>
  </div>
  <p class="text-center text-xs !mt-2">© {{ 'now' | date: "%Y" }} {{ shop.name }}</p>
  <p class="text-center text-xs">Powered by PROJXON</p>
</footer>

{% stylesheet %}
.shopify-section-group-footer-group {
  display: block;
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    },
    {
      "type": "text",
      "id": "hours",
      "label": "t:labels.hours"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "t:labels.phone_number"
    },
    {
      "type": "text",
      "id": "email",
      "label": "t:labels.email"
    }
  ]
}
{% endschema %}
