<header class="py-2 font-bold relative">
  <nav class="flex flex-wrap static md:absolute gap-3 text-lg left-0 justify-between">
    {% for link in section.settings.sections.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </nav>
  
  <nav class="flex flex-wrap static md:absolute gap-3 text-lg right-0 justify-end">
    <a href="{{ routes.search_url }}">Search</a>
    <a href="{{ routes.cart_url }}">Cart</a>
  </nav>

  <a href="{{ routes.root_url }}" id="logo" class="block !m-auto w-fit">
    <img src="{{ section.settings.logo | default: 'https://cdn.shopify.com/s/files/1/0958/7559/6674/files/logo.avif?v=1769729807' }}" alt="{{ shop.name | append: ' logo' }}" height="150" width="150" class="m-auto">
  </a>
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "sections",
      "label": "t:labels.sections",
      "default": "main-menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}
