<section class="h-[30vh] relative">
  <img
    src="{{ section.settings.image | image_url: width: 2000 }}"
    class="absolute size-full object-cover opacity-50"
  />
  <div class="relative z-2 flex flex-col items-center justify-center h-full">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.text }}</p>
    <a href="{{ section.settings.link }}">
      {{ section.settings.button }}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Protective Elegance"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Hero Text"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button URL"
    }
  ],
  "presets": [{"name": "Hero"}]
}
{% endschema %}